*.pyc
*.exo
*.so
*.out
*.perm
*.eval
*.opt
*.log
*.preprocessed

docs/auto
docs/*.aux
docs/*.log
docs/*.synctex.gz

lib/material_models.db
lib/*.so

TestResults.*
.built

toolset/gmd
toolset/wpython
toolset/buildmtls
toolset/runtests
toolset/runtests
toolset/gmddump
toolset/gmdviz
toolset/gmddiff

