*.pyc
*.exo
*.so
*.out
*.perm
*.eval
*.opt
*.log
*.preprocessed

TestResults.*
.built

toolset/gmd
toolset/wpython
toolset/buildmtls
toolset/runtests
toolset/runtests
toolset/gmddump
toolset/gmdviz
toolset/gmddiff

materials/material_models.db
