foo.*
*.pyc
*.exo
*.dbx
*.so
*.con
*.out
*.perm
*.math
*.eval
*.opt
*.log
*.preprocessed
*.o
build/
*module.c
*.bak
*.rpk
*.difflog
*mod
*~

*-f2pywrappers2.f90

matmodlab/lib/*.pyf

matmodlab/examples/umat_*.f90
matmodlab/lib/umat_*.f90

matmodlab/examples/*.slides.html

matmodlab.egg-info

Untitled*.ipynb
.ipynb_checkpoints
.ipynb_checkpoints/*

TestResults.*
.built

.DS_Store
